* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}
body {
  background-color: black;
  display: grid;
  place-items: center;
}
.blog-page {
  background-color: hsl(47, 88%, 63%);
  width: 350px;
  height: 100vh;
  display: grid;
  place-items: center;
}
.blog-preview {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  width: 300px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  padding: 17px;
  margin: 10vh 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 0px;
}
.blog-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.blog-image {
  width: 268px;
  height: 160px;
  margin-bottom: 8px;
}

button {
  background-color: hsl(47, 88%, 63%);
  border: none;
  color: black;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 1px;
  border-radius: 4px;
  font-weight: 550;
  margin-bottom: 10px;
}

.date {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
.para {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: rgb(142, 142, 142);
  margin-bottom: 25px;
}

.auther {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}
.auther-image img {
  max-width: 100%;
  max-height: 100%;
}
.auther-image {
  width: 35px;
  height: 35px;
}
.auther-name {
  display: grid;
  place-items: left;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 480px) {
  .blog-page {
    background-color: hsl(47, 88%, 63%);
    width: 320px;
    height: 100vh;
    display: grid;
    place-items: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .blog-page {
    background-color: hsl(47, 88%, 63%);
    width: 80%;
    height: 90vh;
    display: grid;
    place-items: center;
    align-items: center;
    margin: 5vh auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .blog-preview {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    width: 290px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    margin: 10vh 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 0px;
  }
  .blog-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  .blog-image {
    width: 260px;
    height: 156px;
    margin-bottom: 6px;
  }

  button {
    background-color: hsl(47, 88%, 63%);
    border: none;
    color: black;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 4px;
    font-weight: 550;
    margin-bottom: 6px;
  }

  .date {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .heading {
    font-size: 1.2rem;
    margin-bottom: 6px;
    letter-spacing: -0.5px;
    cursor: pointer;
  }
  .heading:active {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
  }
  .para {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: rgb(142, 142, 142);
    margin-bottom: 20px;
  }

  .auther {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
  }
  .auther-image img {
    max-width: 100%;
    max-height: 100%;
  }
  .auther-image {
    width: 35px;
    height: 35px;
  }
  .auther-name {
    display: grid;
    place-items: left;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .blog-page {
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
    align-items: center;
    margin: auto 0;
  }
  .blog-preview {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    padding: 17px;
    margin: auto 0;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 0px;
  }
}
@media (min-width: 1024px) {
  .blog-page {
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    margin: 0 0;
  }
  .blog-preview {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    padding: 17px;
    margin: auto auto;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 0px;
  }
}
